
.tr-resultado {
    border: 1px solid black ;
    text-align: center;
}

.tr-resultado,  th{
    padding-bottom: 20px;
}

.table-resultado {
    position: relative;
    width: 220px;
    height: 28px;
    left: 120px;
    top: 2px;
}

.div-resultado {
    position: relative;
    height: 30px;
    top: 1px;
}